<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">${jdbc.url}</property>
        <property name="connection.driver_class">${jdbc.driver}</property>
        <property name="connection.username">aggregator</property>
        <property name="connection.password">aggregateMe</property>

        <property name="hibernate.dialect">${hibernate.dialect}</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <property name="show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <mapping class="ru.one.more.app.entities.Feed"/>
        <mapping class="ru.one.more.app.entities.FeedSource"/>
        <mapping class="ru.one.more.app.entities.SourceRule"/>
    </session-factory>
</hibernate-configuration>